<div class="poker">
   <div class="porker_1">
      <h1>pokerとは</h1>
      <p>ポーカーは、トランプを使用したカードゲームで、手持ちのカードの役の強さを競い合ってゲームの勝敗を決めるものです。<br>ポーカーは限られた情報からプレイヤーのカードを推測する不完全情報ゲームであり、相手の役と自分の役どちらが強いか読み合う心理戦が醍醐味とされています。<br>世界的に有名なバリエーションの一つは「テキサスホールデム」で、自分の手札とテーブルの共通カードを組み合わせて最強のハンドを作ります。<br>テキサスホールデムは競技人口が1億人以上で、世界中で大会が開かれるほど人気のあるカジノゲームです<br></p>
      <h1>魅力</h1>
      <p>ポーカーの目的は二つあります。<br>一つは最高の役（ハンド）を作り、テーブル上の他のプレイヤー全てを上回ること。<br>もう一つは他のプレイヤー全てを降参させ、ポット（賭け金の総額）を獲得することです。<br>これは、あなたが最高の役を持っていなくても、他のプレイヤーにそれを思わせてしまえば勝つことが可能という、ポーカーの魅力の一つです<br></p>
      <h1>ルールと進行</h1>
     <p>ゲームの進行は配布で各プレイヤーに2枚のカードが配られ、<br>ベットするかしないかを決め、フロップで3枚のカードが公開、ターンで4枚目のカード公開、<br>リバーで5枚目のカードを公開、ショーダウンで残ったプレイヤーが手札を公開し、最強の役を持つプレイヤーが勝者となる、シンプルながらも奥深い戦略が楽しめるゲームです。<p>
    <div class="poker_2">
    <iframe width="400" height="300" src="https://www.youtube.com/embed/axl585df-Ic?si=JJGB9hsYs46gy0sU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
</div>




