// Place all the styles related to the chases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// トップページ
.poker p {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
}

.poker h1{
    text-align: center;
    // margin-top: 50px;
    // margin-bottom: 50px;
}

.poker p{
    // margin-bottom: 100px;
}


.porker{
    width: 100%;
}


// 一覧ページ
